<!DOCTYPE html>
<html>
<head>
	<title>Menu</title>
	<meta charset="utf-8">
	<link rel="stylesheet" type="text/css" href="../../css/general.css">
	<link rel="stylesheet" type="text/css" href="../../css/gestionU.css">
</head>
<body>
<div class="page">
		<section class="bandeau">
			<header>
				<h1>Bienvenue sur Trader - Premiere plateforme de trading social</h1>
				<div class="citation">
					<p>Richard Nixon</p>
					<p>"As Moïs, I've opened a WaterGate"</p>
				</div>
				<a href="pageAccueil.html"><img src="../img/logo.png"></a>
			</header>
			<section class="menu">
				<ul class="liste">
					<li class="sous-liste"> <a href="accueilAdmin.html"> Statistiques d'utilisation et modification des instruments </a></li>
					<li class="sous-liste"> <a href="gestionU.html"> Gestion des utilisateurs </a></li>
					<li class="sous-liste2"> <a href="PageAccueil.html"> Déconnexion</a></li>
				</ul>
			</section>
		</section>
	<section class="miseEnPage">
		<div class="recherche">
			<h2>Gestion des utilisateurs</h2>
			<form>
				<input class="champ" type="text" name="champ" placeholder=Pseudo utilisateur">
				<button>Rechercher</button>
			</form>
		</div>
		<div class="affichage">
			<table>
				<tr>
					<th>Pseudo</th>
					<th>Nom</th>
					<th>Prenom</th>
					<th>Mail</th>
					<th>Date d'inscription</th>
					<th>Action</th>
				</tr>
				<tr>
					<td>Ben-Drog</td>
					<td>Drogou</td>
					<td>Benoit</td>
					<td>benoit.drogou@hei.yncrea.fr</td>
					<td>07/01/2018</td>
					<td><a href="">Supprimer</a></td>
					
				</tr>
			</table>
		</div>
	</section>
</div>
</body>
</html>