<!DOCTYPE html> 

<html>
<head>
	<title>Bienvenue sur Traderz</title>
	<meta charset="utf-8">
	<link rel="stylesheet" type="text/css" href="../../Css/general.css">
	<link rel="stylesheet" type="text/css" href="../../Css/pageAccueil.css">
</head>
<body>
	<div class ="page">

		<header>
			<h1>Bienvenue sur Trader - Premiere plateforme de trading social</h1>
		</header>
		<div class ="contenuAccueil">
			<article id ="presentation"> 
				<h2>Traderz - Qu'est ce que c'est ?</h2>
				<p>Presentation de ce magnifique site .........................</p>
			</article>
			<article id ="connexionBloc">
				<div class ="logo">
						<img src="../../IMG/logo.png"  />
				</div>
				<form class="connexion" method="post" action="pageAccueil">
						<label for ="identifiant" class="formulaire">Identifiant</label>
						<input type="text" id="identifiant" name="identifiant" required="required" />
						<label for ="mdp" class="formulaire">Mot de passe</label>
						<input type="password" id="mdp" name="mdp" required="required" >
					<div class="hiera">
						<input type="radio"  id="Administrateur" name="hierarchie" value="Administrateur" required="required">
						<label for="Administrateur">Administrateur</label>
						<input type="radio" id="Utilisateur" name="hierarchie" value="Utilisateur">
						<label for="Utilisateur">Utilisateur</label>
					</div>
					<input type="submit" name="Connexion" value="Connexion"/>

						<div class="inscription">
							<a href="pageInscription">Pas encore inscrit ? Viens vite nous rejoindre</a>
						</div>
				</form>
			</article>

		</div>
	</div>
</body>
</html>
</html>