
h2{
	margin-left: 12%;
	width: 80%
}
form{
	
	width: 50%;
	margin-left: 30%;

}

form input{
	margin-top: 15px;
	text-align: center;
	width: 70%;
}

.modif{
	margin-top: 3%;
	margin-left:30%;
	border: solid #3F4045 2px;
	padding: 50px;
	width:35%;
	border-radius: 15px; 


}