
.contenuAccueil  {
	margin-top: 50px;
	display: flex;
	justify-content: space-around;
}

#presentation{
	border: solid #3F4045;
	padding: 50px;
	width:35%;
}

#connexionBloc{
	border: solid #3F4045;
	padding: 50px;
	text-align: center;
}
.logo{
	margin: 15px;
}

.connexion{
	display: flex;
	flex-direction: column;
}

.connexion input {
	margin: 7px;
}
.connexion .inscription{
	font-weight: bold;
	margin-top: 5px;
}




