.profil{
	display:flex;
	justify-content: space-around;

}

.historique{
	border: 2px solid #3F4045;
	margin-top: 3%;
	width: 60%;
	border-radius: 15px;
}

h2{
	text-align: center;
	color :	darkblue;
}



.profil p{
	text-align: center;
}
.graph{
	border: 2px solid #3F4045;
	margin-top: 3%;
	width: 20%;
	border-radius: 15px;
}
.options{
	border: 2px solid #3F4045;
	margin-top: 3%;
	margin-left: 2%;
	margin-right: 2%;
	text-decoration: none;
	border-radius: 15px;
}
.options a {
	text-decoration: none;
	color :	darkblue;

}

.historique table{
	margin-left: 10%;
	margin-bottom: 5%;
	width: 80%;
	border-collapse: collapse;

	border: 2px solid #3F4045;

}
.historique table th{
	border: thin solid #3F4045;
	background-color: #9A9E9D;
}
.historique table td{
	border: thin solid #3F4045;
	text-align: center;
}
.historique	{
	margin-top: 4%;
	margin-bottom: 2%;
	border:solid 2px;
	width: 75%;
}

