<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-T8Gy5hrqNKT+hzMclPo118YTQO6cYprQmhrYwIiQ/3axmI1hQomh7Ud2hPOy8SP1" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="css_for_all.css">


    <nav class="navbar navbar-expand-lg navbar-dark bg-dark static-top">
        <div class="container">
            <a class="navbar-brand" href="#">
                <img src="../../../IMG/logo3.png" alt="">
            </a>

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="Home">Accueil</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="Salle">A propos</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="Alertes">Alertes</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="Favoris">Favoris</a>
                    </li>
                    <li> <a href="Deconnexion"> <button type="button" class="btn btn-danger btn-block">Se déconnecter</button> </a> </li>
                </ul>
            </div>
        </div>
    </nav>
    <title>YIAQ</title>
</head>
<body>


<!-- Page Content -->
<div class="container">
    <div class="row">
        <section class="col-md-10 col-md-offset-3">
            <h1 class="mt-4">Yncréa Intelligence Indoor Air Quality</h1>
            <p></p>
            <p></p>
            <blockquote class="blockquote">
                <p>
                    Bienvenu sur la plateforme Yncréa Indoor Air Quality. Vous pourrez ici trouver des infomrations sur la qualité de l'air dans les salles selon différents critères. Le taux d'humidité, concentration en carbon etc...
                    La recherche de la salle peut se faire directement sur la barre de recherche, ou bien en cliquant sur les logo de ton campus
                </p>
                <footer class="blockquote-footer">Thierry OCCRE</footer>
            </blockquote>
        </section>

    </div>

    <div class="row">
        <!-- Search form -->
        <div class="active-cyan-10 mb-10 col-md-10">
            <form action="" method="get">
                <input class="form-control" id="text_searched" name="text_searched" type="text" placeholder="Tapez ici votre recherche ( Campus, bâtiment, étage, salle etc...)" aria-label="Search"/>
            </form>
        </div>
    </div>


    <div class="row form-group">
        <!-- TABLE HEI -->
        <table class="table table-hover" th:each="campus:${liste_campus}">
            <thead>
            <h3 th:text="${campus.campus_name}">ISA</h3>
            <tr>
                <th>Bâtiment</th>
                <th>étage</th>
                <th>Salle</th>

            </tr>
            </thead>
            <tbody>
            <tr th:each="salle:${campus.getList_salles()}">
                <td th:text="${salle.batiment_name}">Segard</td>
                <td th:text="${salle.etage_name}">2ème</td>
                <td th:text="${salle.salle_name}">S202</td>
            </tr>

            </tbody>
        </table>
    </div>


    <!-- Select your Campus -->
    <div class="row">
        <div class="col-xs-3 col-md-3 col-lg-5"> <img src="../../../IMG/iloveimg-resized/hei_yncrea.png" alt="hei_yncrea"/> </div>
        <div class="col-xs-3 col-md-3 col-lg-5 col-lg-offset-4"> <img src="../../../IMG/iloveimg-resized/isen_yncrea.png" alt="isen_yncrea"> </div>
        <div class="col-xs-3 col-md-3 col-lg-5 col-lg-offset-4"> <img src="../../../IMG/iloveimg-resized/isa_yncrea.png" alt="isa_yncrea"> </div>

    </div>

</div>

</body>


</html>