<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Traderz</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <link rel="stylesheet" type="text/css" href="../../../Css/general.css" >
    <link rel="stylesheet" type="text/css" href="../../../Css/modif.css" >
</head>
<body>
<div class="page">
    <section th:replace="~{fragments ::navBar}">
    </section>

    <div class="modif">
        <h2>Mofidication de votre mot de passe :</h2>
    <form class="new" method="post">
        <div class="changement">
            <input type="password" id="nouveaumdp" name="nouveaumdp" required="required" placeholder="Nouveau mot de passe"/>
            <input type="password" id="confirmnouveaumdp" name="confirmnouveaumdp" required="required" placeholder="Confirmation mot de passe"/>
        </div>

        <aside>
            <input type="submit" name="modification" value="Enregistrer la modification"/>
        </aside>
    </form>
    </div>
</div>
</body>
</html>