<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title>Menu</title>
	<meta charset="utf-8">
	<link rel="stylesheet" type="text/css" href="../../../Css/general.css">
	<link rel="stylesheet" type="text/css" href="../../../Css/portefeuille.css">
</head>
<body>
<div class="page">
	<section th:replace="~{fragments ::navBar}">
	</section>
	<div class="portefeuille">
		<div class="contenu">
			<table>
				<tr>
					<th>Action</th>
					<th>Entreprise</th>
					<th>Variation du jour</th>
					<th>Valeur</th>
					<th>Quantite</th>
					<th>Cours</th>
					<th>Gain(%)</th>
					<th>Gain(€)</th>
					<th>Type</th>
				</tr>
				<tr th:each="transaction:${transactions}">
					<td>
						<form method="post">
							<input type="hidden" id="collectTransac" name="collectTransac" th:value="${transaction.idTransac}">
							<input type="hidden" id="check" name="check" value="2">
							<input type="submit" name="revente" th:class="${transaction.transacSens==true} ? 'racheter' : 'vendre'" th:value="${transaction.transacSens==true} ? 'Racheter' : 'Vendre'" >
						</form>
					</td>
					<td th:text="${transaction.transacCotationNom}">Entreprise A</td>
					<td th:text="${transaction.idTransac}"></td>
					<td th:text="${#numbers.formatDecimal(transaction.transacPrix*transaction.transacVolume,0,2)+'€'}">823.43</td>
					<td th:text="${transaction.transacVolume}">150</td>
					<td th:text="${transaction.transacPrix+'€'}">prix</td>
					<td th:text="${(transaction.gain/transaction.transacPrix)*100}"></td>
					<td th:text="${transaction.gain+'€'}"></td>
					<td th:class="${transaction.transacSens==true} ? 'vente' : 'achat'" th:text="${transaction.transacSens==true} ? 'Vente' : 'Achat'">Achat</td>
					
				</tr>

			</table>
		</div>
		<div class="statsContenu">
			<table th:each="user:${useronline}">
				<tr>
					<th>Valeur Portefeuille (€)</th>
					<td th:text="${user.valeur}">Valeur</td>
				</tr>
				<tr>
					<th>Liquidité (€)</th>
					<td th:text="${user.liquidites}">Valeur</td>
				</tr>
				<tr>
					<th> Valeur Totale</th>
					<th th:text="${user.valeur+user.liquidites}"></th>
				</tr>
			</table>
		</div>
	</div>
</div>
</body>
</html>