<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Fragments</title>
</head>
<body>

<section th:fragment="navBar">

    <header>
        <h1>Bienvenue sur Trader - Premiere plateforme de trading social</h1>
        <div class="citation">
            <p>Richard Nixon</p>
            <p>"As Moïs, I've opened a WaterGate"</p>
        </div>
        <a href="accueilAdmin"><img src="../../../IMG/logo.png"></a>
    </header>
    <section class="menu">
        <ul class="liste">
            <li class="sous-liste"> <a href="accueilAdmin"> Statistiques d'utilisation et modification des instruments </a></li>
            <li class="sous-liste"> <a href="gestionU"> Gestion des utilisateurs </a></li>
            <li class="sous-liste2"> <a href="deconnexionAdmin"> Se Déconnecter </a></li>
        </ul>
    </section>

</section>



</body>
</html>