<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title>Menu</title>
	<meta charset="utf-8">
	<link rel="stylesheet" type="text/css" href="../../../Css/general.css">
	<link rel="stylesheet" type="text/css" href="../../../Css/gestionU.css">
</head>
<body>
<div class="page">
	<section th:replace="~{fragment ::navBar}">
	</section>
	<section class="miseEnPage">
		<div class="recherche">
			<h2>Gestion des utilisateurs</h2>
			<form>
				<input class="champ" type="text" name="champ" placeholder="Pseudo utilisateur">
				<input type="hidden" id="check"  name="check" value="1">
				<button>Rechercher</button>
			</form>
		</div>
		<div class="affichage">
			<table>
				<tr>
					<th>Pseudo</th>
					<th>Nom</th>
					<th>Prenom</th>
					<th>Mail</th>
					<th>Total d'argent</th>
					<th>Supprimer</th>
				</tr>
				<tr th:each="user:${users}">
					<td th:text="${user.identifiant}">Ben-Drog</td>
					<td th:text="${user.nom}">Drogou</td>
					<td th:text="${user.prenom}">Benoit</td>
					<td th:text="${user.mail}">benoit.drogou@hei.yncrea.fr</td>
					<td th:text="${#numbers.formatDecimal(user.liquidites+user.valeur,0,2)}"> 10000€</td>
					<td> <!-- Formulaire pour supprimer un utilisateur-->
						<form method="post">
						<input type="hidden" id="userId" name="userId" th:value="${user.idUser}">
						<input type="hidden" id="try" name="try" value="2">
						</form>
					</td>
					
				</tr>
			</table>
		</div>
	</section>
</div>
</body>
</html>
